<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">{{ site.contact-description }}</h3>
                </div>
            </div>
        <form method="POST" action="https://formspree.io/anthony@connectlabs.io">
                <input name="email" placeholder="Your email" type="email">
                <input name="name" placeholder="Enter your name" type="name">
                <input name="phone" placeholder="Enter your phone" type="phone">
                <textarea name="message" placeholder="Your message"></textarea>
                <button type="submit">Send</button>
        </form>
            
        </div>
    </section>
